<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contacts.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>Contacts | nombre User</title>
</head>

<%- include("../partials/header") %>

<body class="container-background">

  
        <div class="cotainer-contacts-user">

            <div class="bar-search-contacts">
                <input type="text" name="bar-search" id="bar-search" placeholder="Buscar tu contacto" class="bar-busqueada-contacto" autocomplete="off">
                <button class="add-contacto"><a href="/contact/create"><i class="fas add-icon fa-plus-circle"></i></a></button>
            </div>
        
              <div class="container-contacts">
                  <% for (const contacto of contactos) { %>
                <div class="contact-info">
                    <h3 class="nombre-contact"> <%= contacto.nombreCompleto %>  </h3>
                    <div class="numero-telefono-contacto"> <%= contacto.telefono %></div>
                    <div class="email-contacto"><%= contacto.email %></div>
                    <div class="interaccion-contacto">
                       <button class="button-edit-contacto" > <a href="/contact/edit/<%= contacto.id %> "> Editar</a> </button>
                       <button class="button-delete-contacto">Eliminar</button>
                    </div>
                </div>
                <% } %> 
                </div>
                
            </div>

        </div>
       

</body>

<%- include("../partials/footer") %>


</html>