 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/createContact.css">
    <title>Edit</title>
</head>

<%- include("../partials/header") %>


<body class="container-background">

    <div class="centrado-box">
    
        <div class="container-contacts-create">
    
            <div class="contact-info-create">
    
                <form action="/contact/edit/<%= contacto.id %>?_method=PUT " method="POST" id=""> <!--debe viajar por put-->

                    <h2 class="title-create-contact">Editando Contacto</h2>
    
                    <div class="grupo-contacto-create">
                        <input type="text" name="nombreContacto" id="nombreContacto" class="input-create-contact" autocomplete="off" value="<%= contacto.nombreCompleto %> " >
                        <label class="label-create" for="">Nombre Completo </label>
                    </div>
    
                    <div class="grupo-contacto-create">
                        <input type="text" name="telContacto" id="telContacto" class="input-create-contact" autocomplete="off" value="<%= contacto.telefono %> ">
                        <label class="label-create" for="">Numero Telefonico</label>
                    </div>
    
                    <div class="grupo-contacto-create">
                        <input type="text" name="emailContacto" id="emailContacto" class="input-create-contact" autocomplete="off" value="<%= contacto.email %> ">
                        <label class="label-create" for="">Email</label>
                    </div>
    
                    <div class="interaccion-contacto">
                        <button class="button-edit-contacto" >EDITAR</button>
                        
                    </div>
    
                </form>
    
    
            </div>
    
        </div>
    
    </div>


</body>

<%- include("../partials/footer") %>

</html>