<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile || name</title>
</head>

<%- include("../partials/header") %>

<body class="container-background-profile">

    

    <div class="container-profile">
        <div class="img-profile">
            <img src="/images/profile/profile.JPG" alt="">

          <!--  <form action="/account/profile" method="POST" enctype="multipart/form-data" class="form-file" >

            <label for="subir-img" class="change-img-profile">Cambiar Imagen</label>
            <input  type="file" name="carga-img" id="subir-img" class="imagen-carga"> 
            <button type="submit">Cargar</button>

            -->

            </form>
        </div>
        <div class="personal-date">
            <label for="" class="title-info-user">Informacion Personal</label>
            <div class="group-info-user" > <label for="">Nombre: </label> <span class="info-profile"> <%= user.nombre %> </span> </div>
            <div class="group-info-user" > <label for="">Apellido: </label> <span class="info-profile"> <%= user.apellido %></span> </div>
            <div class="group-info-user" > <label for="">Email: </label> <span class="info-profile"> <%= user.email %></span> </div>
            <div class="group-info-user" > <label for="">Contraseña: </label> <span class="info-profile" type=> CONTRASEÑA </span> </div>
            <div class="btn-edit">
                <button class="btn-edit-info-profile">Editar</button>
            </div>
        </div>
        <div class="btn-log-out">
            <button class="log-out-profile">Log Out</button>
        </div>
    </div>




</body>

<%- include("../partials/footer") %>

</html>